@model IEnumerable<WebFamilyHome.Models.User>

@{
    ViewData["Title"] = "Usuários";
}

<h2>Usuários</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Criar Novo Usuário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome Completo</th>
            <th>Email</th>
            <th>Usuário</th>
            <th>Grupo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomeCompleto</td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>@item.GroupId</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
